* {
  transition: all 500ms ease-in;
}

.logo {
  width: 150px;
}

a {
  text-decoration: none; /* no underline */
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5vw 5vh 5vw;
  margin-top: 10vh;

  .intro {
    width: 35rem;
    margin-right: 150px;

    .name {
      text-decoration: underline #ffc152 solid 6px;
    }
  }

  img {
    width: 300px;
  }
}

section {
  text-align: center;
}

.about {
  .about-body {
    background-color: #e3e4e0;
    padding: 0 15vw;
    .about-content {
      display: flex;
      align-items: center;
      text-align: left;

      img {
        height: 250px;
      }
    }
    .badges {
      margin-top: 30px;
      img {
        width: 150px;
      }
    }
  }

  svg {
    width: 100vw;
    margin: 0;
    z-index: -1;
    position: relative;
    &.top-wave {
      margin-bottom: -5px;
    }
    &.bottom-wave {
      margin-top: -100px;
      background-color: #fbf9f9;
    }
  }
}

.experience {
  margin-top: -10px;
  position: relative;
  height: 100vh;

  .background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    height: 100vh;
  }

  .experience-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45rem;
    h3 {
      font-size: 2.3rem;
    }
    h4 {
      font-size: 1.2rem;
    }
    .experience-tab {
      text-align: left;
      .experience-header {
        display: flex;
        align-items: center;

        img {
          width: 15%;
          margin-right: 5%;
        }
      }

      .experience-tools {
        display: flex;
        p {
          margin: 1rem 3rem 1rem 0;
        }
      }

      .experience-body {
        padding-left: 1rem;

        li {
          padding-left: 1rem;
          padding-bottom: 1rem;
        }

        &.purple-heart {
          list-style-type: '\01f49c';
        }
        &.earth {
          list-style-type: '\1f30e';
        }
        &.octopus {
          list-style-type: '\1F984';
        }
        &.cherry-blossom {
          list-style-type: '\1F338';
        }
      }

      .experience-quote {
        text-align: center;

        .quote-author {
          margin-top: 0.5rem;
          font-weight: 700;
          font-size: 1.1rem;
        }
      }
    }
  }
}

.projects {
  padding: 5vh 5vw;
  background-image: url(./assets/projects-background.svg);
  background-repeat: no-repeat;
  background-size: cover;

  .project-cards {
    .project-card {
      display: inline-block;
    }
  }
}

section.call-to-action {
  display: flex;
  align-items: center;
  padding: 5vh 10vw;
  background-color: #e3e4e0;
  text-align: left;

  img {
    width: 200px;
    margin: 0 100px;
  }
}

footer {
  display: flex;
  padding: 0 10vw;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: #fbf9f9;
}
