.logo {
  width: 150px;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5vw;

  .intro {
    width: 30rem;
    margin-right: 150px;

    .name {
      text-decoration: underline #ffc152 solid 6px;
    }
  }

  img {
    width: 400px;
  }
}
