.logo {
  width: 150px;
}

a {
  text-decoration: none; /* no underline */
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5vw 5vh 5vw;
  margin-top: 10vh;

  .intro {
    max-width: 35rem;
    margin-right: 150px;

    .name {
      text-decoration: underline #ffc152 solid 6px;
    }
  }

  img {
    width: 270px;
  }

  .call-to-action {
    display: flex;
    gap: 20px;
  }

  @media (max-width: 900px) {
    flex-direction: column;
    text-align: center;
    padding: 0 15vw 5vh 15vw;

    .intro {
      margin: auto;
    }

    img {
      width: 40vw;
      margin-top: 50px;
    }

    .call-to-action {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
}

section {
  text-align: center;
}

.about {
  .about-body {
    background-color: #e3e4e0;
    padding: 0 15vw;
    .about-content {
      display: flex;
      align-items: center;
      text-align: left;

      img {
        height: 250px;
      }
    }
    .badges {
      margin-top: 30px;
      img {
        width: 150px;
      }
    }
  }

  svg {
    width: 100vw;
    margin: 0;
    z-index: -1;
    position: relative;
    &.top-wave {
      margin-bottom: -1vw;
    }
    &.bottom-wave {
      margin-top: -1vw;
      background-color: #fbf9f9;
    }
  }

  @media (max-width: 900px) {
    .about-body {
      .about-content {
        flex-direction: column;
        text-align: center;
        margin: 2em 0;
      }
    }
  }
}

.experience {
  margin-top: -10px;
  position: relative;

  .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    background-color: #fbf9f9;
    z-index: -1;
    height: 100%;
  }

  .experience-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 45rem;

    h3 {
      font-size: 2.3rem;
    }
    h4 {
      font-size: 1.2rem;
    }
    .experience-tab {
      text-align: left;
      .experience-header {
        display: flex;
        align-items: center;

        img {
          width: 15%;
          margin-right: 5%;
        }
      }

      .experience-tools {
        max-width: 100vw;
        margin: 1rem 0;
        overflow-wrap: break-word;
        .experience-tool {
          display: inline-block;
          margin-right: 3rem;
          margin-bottom: 0.5rem;
        }
      }

      .experience-body {
        padding-left: 1rem;

        li {
          padding-left: 1rem;
          padding-bottom: 1rem;
        }

        &.purple-heart {
          list-style-type: '\01f49c';
        }
        &.earth {
          list-style-type: '\1f30e';
        }
        &.octopus {
          list-style-type: '\1F984';
        }
        &.cherry-blossom {
          list-style-type: '\1F338';
        }
      }

      .experience-quote {
        text-align: center;

        .quote-author {
          margin-top: 0.5rem;
          font-weight: 700;
          font-size: 1.1rem;
        }
      }
    }
  }

  @media (max-width: 900px) {
    padding: 5vh 7vw;
    .experience-tabs {
      .experience-tab {
        .experience-header {
          flex-direction: column;
          text-align: center;
        }
        .experience-tools {
          text-align: center;

          .experience-tool {
            margin: 0 1.5rem;
            margin-bottom: 10px;
          }
        }
        .experience-body {
          padding: 0;
          li {
            list-style-position: inside;
            text-align: center;
            padding: 0;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}

.projects {
  padding: 10vh 5vw;
  background-image: url(./assets/projects-background.svg);

  .project-cards {
    .project-card {
      display: inline-block;
    }
  }
  @media (max-width: 900px) {
    padding: 5vh 5vw;
    .project-cards {
      display: inline-grid;
      grid-template-columns: 40vw 40vw;
      .project-card {
        width: 100%;
      }
    }
  }
}

section.call-to-action {
  display: flex;
  align-items: center;
  padding: 5vh 10vw;
  background-color: #e3e4e0;
  text-align: left;

  img {
    width: 200px;
    margin: 0 100px;
  }

  .action-buttons {
    display: flex;
    gap: 20px;
  }

  @media (max-width: 900px) {
    flex-direction: column;
    text-align: center;

    img {
      width: 30vw;
    }

    .action-buttons {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
}

footer {
  display: flex;
  padding: 0 10vw;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background-color: #fbf9f9;

  @media (max-width: 900px) {
    flex-direction: column-reverse;
    height: auto;
    padding: 20px 0;
  }
}
